
<footer class="page-footer blue darken-3">
  <div class="footer-copyright">
    <div class="container ">
      <div class="row">
        <div class="col s12 m6">
          © 2014 Copyright {{ site.dev }}
        </div>
        <div class="col s12 m6">
          <a class="grey-text text-lighten-4 right" href="http://facebook.com/{{ site.facebook_username }}">Facebook</a>
          <a class="grey-text text-lighten-4 right" href="http://twitter.com/{{ site.twitter_username }}">Twitter</a>
          <a class="grey-text text-lighten-4 right" href="http://github.com/{{ site.github_username }}">Github</a>
          <a class="grey-text text-lighten-4 right" href="mailto:{{ site.email }}">Email</a>
        </div>
      </div>
    </div>
  </div>
</footer>
