<!DOCTYPE html>
<html lang="br">
  {% include head.html %}
  <body>
    <h1 class="center" id="banner">500 apps</h1>
    <div class="navbar" id="navbar">
      <nav id="search-bar" class="hide">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search" id="label_search"><i class="material-icons">search</i></label>
              <i class="material-icons" onclick="hide_search()">close</i>
            </div>
          </form>
        </div>
      </nav>
      <ul id="menu" class="dropdown-content">
        <li><a href="#!">Contato</a></li>
        <li class="divider"></li>
        <li><a href="#!">Sobre</a></li>
      </ul>
      <nav id="navbar-menu">
        <div class="nav-wrapper">
          <ul class="left hide-on-med-and-up">
            <li><a class="dropdown-button" href="#!"><i class="material-icons right">menu</i></a></li>
          </ul>
          <a href="#!" class="brand-logo center hide" id="logo">500 apps</a>
          <ul class="right hide-on-small-only">
            <li><a href="#!" onclick="show_search()"><i class="material-icons">search</i></a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Sobre</a></li>
          </ul>
          <ul class="right hide-on-med-and-up">
            <li><a href="#!" onclick="show_search()"><i class="material-icons">search</i></a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="teste.html">
                <img src="assets/full-achemist.png">
              </a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Atomas (Free)<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Android</a></p>
              <p><a href="#">Ios</a></p>
              <p><a href="#">Windows Phone</a></p>
              <br>
              <p class="center"><a href="#">#games</a><a href="#">#puzzle</a></p>
              <p class="center">14 de junho de 2017</p>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Atomas (Free)<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="teste.html">
                <img src="assets/test-chamber.png">
              </a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Test Chamber (Free)<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Android</a></p>
              <p><a href="#">Ios</a></p>
              <p><a href="#">Windows Phone</a></p>
              <br>
              <p class="center"><a href="#">#games</a><a href="#">#puzzle</a></p>
              <p class="center">14 de junho de 2017</p>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Test Chamber (Free)<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="teste.html">
                <img src="assets/south-park-pinball.png">
              </a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">South Park Pinball (3,99)<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Android</a></p>
              <p><a href="#">Ios</a></p>
              <p><a href="#">Windows Phone</a></p>
              <br>
              <p class="center"><a href="#">#games</a><a href="#">#puzzle</a></p>
              <p class="center">14 de junho de 2017</p>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">South Park Pinball (3,99)<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="teste.html">
                <img src="assets/full-achemist.png">
              </a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Atomas (Free)<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Android</a></p>
              <p><a href="#">Ios</a></p>
              <p><a href="#">Windows Phone</a></p>
              <br>
              <p class="center"><a href="#">#games</a><a href="#">#puzzle</a></p>
              <p class="center">14 de junho de 2017</p>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Atomas (Free)<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="teste.html">
                <img src="assets/test-chamber.png">
              </a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Test Chamber (Free)<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Android</a></p>
              <p><a href="#">Ios</a></p>
              <p><a href="#">Windows Phone</a></p>
              <br>
              <p class="center"><a href="#">#games</a><a href="#">#puzzle</a></p>
              <p class="center">14 de junho de 2017</p>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Test Chamber (Free)<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="teste.html">
                <img src="assets/south-park-pinball.png">
              </a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">South Park Pinball (3,99)<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Android</a></p>
              <p><a href="#">Ios</a></p>
              <p><a href="#">Windows Phone</a></p>
              <br>
              <p class="center"><a href="#">#games</a><a href="#">#puzzle</a></p>
              <p class="center">14 de junho de 2017</p>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">South Park Pinball (3,99)<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">Facebook</a>
        <a class="grey-text text-lighten-4 right" href="#!">Twitter</a>
        <a class="grey-text text-lighten-4 right" href="#!">Github</a>
        </div>
      </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(".button-collapse").sideNav();
      $(window).scroll(function() {
        if($(this).scrollTop() >=  120) {
          document.getElementById('navbar').className = "navbar-fixed";
          //document.getElementById('banner').className = "center hide";
          document.getElementById('logo').className = "brand-logo center";
  	    }
        if($(this).scrollTop() <=  120) {
          document.getElementById('navbar').className = "navbar";
          document.getElementById('banner').className = "center";
          document.getElementById('logo').className = "brand-logo center hide";
  	    }

    	});
    </script>
    <script type="text/javascript" src="assets/custom.js"></script>
  </body>
</html>
