---
layout: default
comments: true
---

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="{{ site.baseurl }}/imagens/{{ page.imagem }}">
          <span class="card-title">{{ page.title }}</span>
        </div>
        <div class="card-content">
          <time>{{ page.date | data_to_string }}</time>
          <span> - 2 minutos para ler</span>
          </br>
          <p>{{ content }}</p>
          </br>
          {% for sistema in page.sistemas %}
            <a href="{{ sistema[1] }}"> {{ sistema[0] }}</a>
            </br>
          {% endfor %}
        </div>
        <div class="card-action">
          {% for tag in page.tags %}
            <a href="{{ tag }}"> #{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if page.comments %}
  {% include disqus.html %}
{% endif %}
